<!-- <div style="position: fixed;">
  <ul class="list-group">
    <li class="list-group-item borderless"><a href=""><strong>Feed</strong></a></li>
    <li class="list-group-item borderless"><a href="">Programming</a></li>
    <li class="list-group-item borderless"><a href="">Life Styles</a></li>
    <li class="list-group-item borderless"><a href="">Marriage</a></li>
  </ul>
</div> -->

<div style="position: fixed;">
  <div class="card">
    <div class="card-body">
      <strong>Feed</strong>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
        Programming
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
        Life Styles
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
        Marriage
    </div>
  </div>
  <br>
</div>