<div class="card">
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <img src="../../../assets/images/user.png" alt="" height="40" width="40">
      </div>
      <div class="col-md-11">
        <h6><a href="">Username</a></h6>
        <p class="text-muted">Answered on Friday</p>
      </div>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">What should I do if my child won't stop screaming because I don't buy him some toys in the store?</h5>
    <p class="card-text">I can only tell you what worked for me.</p>
    <p class="card-text">My husband had 2 wonderful children with his ex-wife. Their mother and grandmother would tell them as they went into stores, “If you behave, I'll buy you something (toys, candy, etc).”</p>    
    <p class="card-text">My husband was a full time student & I was waiting tables trying to pay for his schooling and cover all of our bills. Buying candy and toys for good behavior wasn't in the budget, and definitely wasn't in how I was raising them when they were with us.</p>
    <p class="card-text">Fast forward a almost a year…</p>  
    <a href="">see more</a>
  </div>
</div>
<br>
<div class="card">
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <img src="../../../assets/images/user.png" alt="" height="40" width="40">
      </div>
      <div class="col-md-6">
        <h6><a href="">Username</a></h6>
        <p class="text-muted">Answered on Friday</p>
      </div>
      <div class="col-md-5"></div>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">What should I do if my child won't stop screaming because I don't buy him some toys in the store?</h5>
    <p class="card-text">I can only tell you what worked for me.</p>
    <p class="card-text">My husband had 2 wonderful children with his ex-wife. Their mother and grandmother would tell them as they went into stores, “If you behave, I'll buy you something (toys, candy, etc).”</p>    
    <p class="card-text">My husband was a full time student & I was waiting tables trying to pay for his schooling and cover all of our bills. Buying candy and toys for good behavior wasn't in the budget, and definitely wasn't in how I was raising them when they were with us.</p>
    <p class="card-text">Fast forward a almost a year…</p>  
    <a href="">see more</a>
  </div>
</div>
<br>